@import "../../styles.scss";
.container-card {
    font-family: $family_font;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    // align-items: flex-end;
    overflow: hidden;
    margin: 10px;
    @include _320 {
        margin: 7.5px;
    }
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 100% 100%;


    align-items: flex-start;
}

.container-card__paint {
    align-items: flex-end;
}

.container-card__footer {
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.6rem;
    transition: transform 0.35s;

    height: fit-content;
    transform: translate3d(0, -40px, 0);
    padding-bottom: 10px;
    justify-content: flex-start;
     @include _1024 {
        margin-top: min(calc(190px + (260 - 190) * ((100vw - 769px) / (1024 - 769))), 260px);
     }
     @include _768 {
        margin-top: calc(115px + (190 - 115) * ((100vw - 501px) / (768 - 501))) ;
     }
     @include _320 {
        margin-top: calc(120px + (123 - 120) * ((100vw - 320px) / (500 - 320))) ;
     }
}

.container-card-artist__footer {
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.6rem;
    padding-right: 0.6rem;


    overflow: hidden;
    max-width: 100%;

    h1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}

.container-card__footer:hover {
    @include _1024 {
        transition: transform 0.35s;
        transform: translate3d(0, -100%, 0);
    }
}

.container-card__footer--hover {
    @include _768 {
        transition: transform 0.35s;
        transform: translate3d(0, -100%, 0);
    }
}

.container-card__footer__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.picture-info {
    margin-top: 10px
}

h1 {
    font-size: $size_font__18;
    font-weight: $weight_font__bold;
    margin: 0;
    margin-top: 0.5rem;
    @include _320 {
        font-size: $size_font__12;
    }
}

// h1:after {
//     @include _768 {
//         content: "...";
//     }
//     @include _320 {
//         content: "...";
//     }
// }

.container-card__footer h2 {
    font-size: $size_font__14;
    font-weight: $weight_font__medium;
    margin: 0;
    opacity: 0;
    transition: opacity 0.35s;
    @include _320 {
        font-size: $size_font__10;
    }
}

.container-card__footer p {
    font-size: $size_font__14;
    font-weight: $weight_font__light;
    margin: 0;
    margin-left: 0.4rem;
    opacity: 0;
    transition: opacity 0.35s;
    @include _320 {
        font-size: $size_font__10;
    }
}

.row__years {
    color: $button-color;
    font-weight: $weight_font__light;
}

.container-card__footer:hover h2,
.container-card__footer:hover p {
    @include _1024 {
        opacity: 1;
    }
}

.container-card__footer--hover h2,
.container-card__footer--hover p {
    @include _768 {
        opacity: 1;
    }
}