@import "../styles.scss";

.main_page {
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 20px;
}

.main_page--light {
  background-color: $main-color__white;
}

.main_page--dark {
  background-color: $main-color__black;
}

.grid_layout {
  margin-top: 100px;
}

.grid_layout__painting {
  margin-top: 20px;
}