@import "../../styles.scss";

.footer {
  padding: 0 20px;
  @include _320 {
    padding: 0 15px;
  }
}

.footer_top_line {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  margin-top: 10px;
  @include _320 {
    margin-bottom: 30px;
    margin-top: 15px;
  }
}

.footer--light {
  background-color: $main-color__white;
}

.footer-p--light {
  color: rgba(0, 0, 0, 0.3);
}

.footer--dark {
  background-color: $main-color__black;
}

.footer-p--dark {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  @include _320 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-title {
  display: flex;
  flex-direction: column;
}

.footer-title span {
  font-size: $size_font__18;
  font-weight: $weight_font__bold;
  @include _320 {
    font-size: $size_font__14;
    font-weight: $weight_font__regular;
  }
}

.footer-title__span--dark {
  color: $main-color__white;
}

.footer-title__span--light {
  color: $main-color__black;
}

.icons > a > svg  {
  margin-left: 20px;
  width: 22px;
  height: 22px;
  @include _320 {
    margin-left: 0;
    margin-right: 15px;
    margin-top: 15px;
  }
}

.icons--dark {
  a > svg > path,
  a.insta_logo > svg > circle {
    fill: $main-color__white;
  }
  
  a.insta_logo > svg > path,
  a.insta_logo:hover > svg > path {
    fill: $main-color__black;
  }

  a:hover > svg > path,
  a.insta_logo:hover > svg > circle {
    fill: $hover-color;
  }
}

.icons--light {
  a > svg > path,
  a.insta_logo > svg > circle {
    fill: $main-color__black;
  }

  a.insta_logo > svg > path,
  a.insta_logo:hover > svg > path{
    fill: $main-color__white;
  }

  a:hover > svg > path,
  a.insta_logo:hover > svg > circle {
    fill: $button-color;
  }
}