@import "../../styles.scss";

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
  align-items: center;
  @include _1024 {
    min-width: 761px;
    max-width: 1100px;
  }
  @include _768 {
    max-width: 760px;
    min-width: 321px;
  }
  @include _320 {
    max-width: 320px;
  }
}

div > .container-card {
  // max-width: 100px;
  width: 30%;
  height: 260px;

  @include _768 {
    height: 190px;
    width: 30%;
  }

  @include _320 {
    height: 120px;
    width: 30%;
  }
}