@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
$mobile_breakpoint: 320px;
$tablet_breakpoint: 321px 768px;
$desktop_breakpoint: 769px 1024px;
$family_font: 'Roboto', sans-serif;
$weight_font__black: 900;
$weight_font__regular: 400;
$weight_font__bold: 700;
$weight_font__medium: 500;
$weight_font__light: 300;
$size_font__35: 35px;
$size_font__25: 25px;
$size_font__20: 20px;
$size_font__18: 18px;
$size_font__14: 14px;
$size_font__12: 12px;
$size_font__10: 10px;
$main-color__black: #000000;
$main-color__white: #FFFFFF;
$secondary-color: #9C9C9C;
$button-color: #4C4C4C;
$tags-color: #FAFAD2;
$hover-color: #AAAAAA;

@mixin _1024 {
  @media (min-width: 769px){
      @content;
  }
}

@mixin _768 {
  @media (min-width: 321px) and (max-width: 768px){
      @content;
  }
}

@mixin _320 {
  @media (max-width: 320px){
      @content;
  }
}
