@import "../../styles.scss";
.link {
  font-family: $family_font;
  @include _320 {
    font-size: $size_font__14;
    font-weight: $weight_font__bold;
  }
}

.link--light {
  color: $main-color__black;
}

.link--light:hover,
.link--light:active {
  color: $button-color;
}

.link--dark {
  color: $main-color__white;
}

.link--dark:hover,
.link--dark:active  {
  color: $hover-color;
}