@import "../../styles.scss";
.container-slider {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    background: rgba($main-color__black, 0.8);
    z-index: 998;
}

.slider-button_slide {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include _768 {
        width: 30px;
    }
    height: 100vh;
    @include _1024 {
        width: 40px;
    }
    background: rgba($main-color__white, 0.05);
    svg {
        color: $main-color__white;
    }
}

.button_right svg {
    transform: rotate(-90deg);
}

.button_left svg {
    transform: rotate(90deg);
}

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slider-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    img {
        width: 532px;
    }
}

.slider-navigate {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;
}

.slider-artist_info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.slider_navigate-point {
    border-radius: 50%;
    background: rgba($main-color__white, 0.4);
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.slider_navigate-point:hover {
    background: rgba($main-color__white, 0.85);
}

.slider_navigate-point:active {
    width: 15px;
    height: 15px;
    background: rgba($main-color__white, 0.85);
}

.slider_navigate-point:nth-last-child(1) {
    margin-right: 0;
}

.artist_info {
    padding: 12px 20px;
    background: rgba($main-color__white, 0.05);
    border-radius: 8px;
    font-family: $family_font;
    font-style: normal;
    font-weight: $weight_font__medium;
    font-size: $size_font__14;
    line-height: 15px;
    color: $main-color__white;
    margin-right: 20px;
}

.artist_info:nth-last-child(1) {
    margin-right: 0;
}