@import "../../styles.scss";
.container-slider {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    background: rgba($main-color__black, 0.8);
    z-index: 998;
}

.slider-button_slide {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include _768 {
        width: 30px;
    }
    height: 100vh;
    @include _1024 {
        width: 40px;
    }
    background: rgba($main-color__white, 0.05);
    svg {
        color: $main-color__white;
    }
}

.button_right svg {
    transform: rotate(-90deg);
}

.button_left svg {
    transform: rotate(90deg);
}

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slider-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    img {
        @include _320 {
            width: calc(100vw - 30px);
            min-width: 290px;
        }
        @include _768 {
            width: calc(100vw - 80px);
        }
        max-width: 700px;
        width: 100%;
    }
}

.slider-navigate {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;
    @include _320 {
        margin-bottom: -28px;
    }
}

.slider-artist_info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    @include _320 {
        flex-direction: column;
        align-items: center;
        margin-top: calc(17px + 28px);
    }
}

.slider_navigate-point {
    border-radius: 50%;
    background: rgba($main-color__white, 0.4);
    width: 12px;
    height: 12px;
    margin-right: 8px;
    cursor: pointer;
}

.slider_navigate-point:hover {
    background: rgba($main-color__white, 0.85);
}

.slider_navigate-point:active,
.slider_navigate-point--active {
    width: 15px;
    height: 15px;
    background: rgba($main-color__white, 0.85);
}

.slider_navigate-point:nth-last-child(1) {
    margin-right: 0;
}

.artist_info {
    padding: 12px 20px;
    background: rgba($main-color__white, 0.05);
    border-radius: 8px;
    font-family: $family_font;
    font-style: normal;
    font-weight: $weight_font__medium;
    font-size: $size_font__14;
    line-height: 15px;
    color: $main-color__white;
    margin-right: 20px;
}

.artist_info:nth-last-child(1) {
    margin-right: 0;
}

.slider-slider {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    @include _1024 {

        align-items: flex-start;
        flex-direction: row;
    }
}

.interactive_buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

    @include _1024{
        margin-bottom: 0;
        margin-left: 8px;
        flex-direction: column;
    }
}

.interactive_buttons-icon,
.favorite-picture {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 6px;
    padding: 7px;

    margin-right: 15px;
    cursor: pointer;

    @include _1024{
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.interactive_buttons-icon:nth-last-child(1) {
    margin-right: 0;

    @include _1024 {
        margin-bottom: 0;
    }
}

.favorite-picture:hover,
.favorite-picture--active:hover {
    svg > path {
        fill: #FFFF00;
        // #FF0000
        // #AAAAAA
    }
}

.favorite-picture--active {
    svg > path {
        color:#FFFF00;
    }
}

.close_button {
    position: absolute;
    z-index: 10000;
    right: 0;
    top: 0;
    margin-right: 50px;
    margin-top: 20px;
    cursor: pointer;
    @include _1024 {
        margin-right: 60px;
    }
    @include _320 {
        margin-top: 15px;
        margin-right: 15px;
    }
}